.movie {
  border: 2px solid var(--border-color);
  background: var(--movie-bg);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.movie p {
  margin-block: 0.25em;
}

.movie__data {
  padding: 1.5rem;
}

.movie__title {
  margin-block: 0 1rem;
  line-height: 0.9;
}

.movie__vote-and-popularity {
  display: flex;
  justify-content: space-between;
}

.movie__details {
  border: 5px solid var(--border-color);
  padding: 2rem;
}

.movie__details::backdrop {
  background: #222a;
  backdrop-filter: blur(0.5rem);
}

.movie__details-content {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.movie__overview {
  line-height: 1.7;
}

.movie__details-text {
  flex: 2 1 35ch;
}

.movie__details-image {
  flex: 1 1 30ch;
}

.movie__details-image,
.movie__image {
  margin: 0 auto;
}
